@charset "UTF-8";

    #inquiryWriteTable {
      margin: 0 auto;
      border-collapse: collapse;
      border: solid 1px #c7c7c7;
      width: 1000px;
      font-size: 0.9em;
    }
    #inquiryWriteTable td {
      border-bottom: 1px solid #c7c7c7;
    }
    #inquiryWriteTable input {
      height: 20px;
      margin-left: 10px;
      border: solid 0.5px #c7c7c7;
    }
    #inquiryWriteTable input:focus, #inquiry_content:focus {
      outline: solid 1px #c7c7c7;
    }
    #inquiryWriteBtn {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    #inquiryWriteBtn > input, #inquiryWriteBtn > button {
      font-size: 0.9em;
      padding: 5px;
      border: solid 0.5px #e3e3e4;
      cursor: pointer;
    }
    #inquiryWriteBtn > input:focus, #inquiryWriteBtn > button:focus {
      outline: none;
    }