@charset "UTF-8";

    #inquiryListTable {
      margin: 0 auto 20px auto;
      text-align: center;
      width: 1000px;
      border-bottom: solid 1px #818181;
      border-collapse: collapse;
    }

    .inquiryTr th {
      background-color: #e3e3e4;
      border-bottom: 1px solid #f1f2f4;
      height: 38px;
    }
    .inquiryTr td {
      border-bottom: 1px solid #f1f2f4;
      height: 38px;
      padding: 0 10px 0 10px;
      font-size: 0.9em;
    }
    
    .inquiryTr > td > a {
      text-decoration: none;
      color: #818181;
    }
    
    .inquiryTr > td > a:hover {
      color: #c7c7c7;
    }

    #inquiryBtn {
      text-align: right;
      margin-right: 17%;
    }
    
    #inquiryBtn button {
      border: solid 0.5px #e3e3e4;
      font-size: 0.9em;
      padding: 5px;
      cursor: pointer;
    }
    
    #inquiryBtn button:focus {
      outline: none;
    }