@charset "UTF-8";


   .noticehead {
	  text-align: center;
	  margin: 5% 0;
	  color: #818181;
   }
   .notice-hr {
	width :52%;
	margin: auto;
	margin-bottom : 10px;
   }
   #notice_view_table {
     width: 1000px;
     margin: 0 auto 0 auto;
   }
   #notice_view_table2 {
     width: 1000px;
   }
   .notice_view_table_title {
     margin: 5px auto 5px auto;
   }
   #notice_view_table2 > tr td {
   	text-align: center;
   }
   .notice_table_title > a {
    text-decoration: none;
    color: #818181;
   }
   .notice_table_title a:hover {
    color: #c7c7c7;
    text-decoration: none;
   }